extends layout

block content

  h1 Checked Out Books
  p a(href="/loans/new" class="button") Create New Loan
  p Filters a(href="/loans") All | a(href="/loans/overdue") Overdue | a(href="/loans/checked") Checked Out
  table
    thead
      tr
        th Book
        th Patron
        th Loaned on
        th Return by
        th Returned on
        th Action
    tbody
      tr
        td
          a(href="/books/" + book.id) #{book.title}
        td
          a(href="/patrons" + patron.id) Patron full name
        td
          YYYY-MM-DD [Loaned on]
        td
          YYYY-MM-DD [Return by]
        td
          YYYY-MM-DD [Returned on]
        td
          a(href="/books/return" class="button") Return Book
