extends layout

block content

  h1 Checked Out Books
  p a(href="book/new" class="button") Create New Book
  p Filters a(href="/books") All | a(href="books/overdue") Overdue | a(href="books/checked") Checked Out
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year Released
    tbody
      //Loop through all checked out books in the database
      tr
        td
          a(href="books/" + book.id) #{book.title}
        td #{book.author}
        td #{book.genre}
        td #{book.first_released}
