extends layout

block content

  h1 Overdue Books
  p
    a(href="new_book" class="button") Create New Book
  p
    Filters a(href="all_books") All | a(href="overdue_books") Overdue | a(href="checked_books") Checked Out
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year Released
    tbody
      tr
        td a(href="book_detail") #{title}
        td #{author}
        td #{genre}
        td #{year_released}
